{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


<section class="bar background-image-fixed-1 no-mb color-white">

	<body>

		<form action="/matchscout/" method="POST" class="form-bootstrap modal-like-shadow"
			enctype="multipart/form-data">
			{% csrf_token %}
			<h1>Match Scouting Page</h1>
			{# Pre Match Info #}
			<div class="container">

				<h3>Pre Match Info</h3>

				{{ form.errors }}
				{{ form.non_field_errors }}

				<div class="row">
					<div class="col-sm-6">
						Team Number: {{form.team_num}} </div>
					<div class="col-sm-6">
						Match Number: {{form.match_num}} </div>
				</div>

				<div class="row"> <br> </div>

				<div class="row">
					<div class="col-sm-6">
						Alliance: {{form.alliance}} </div>

					<div class="col-sm-6">
						Starting Position: {{form.starting}} </div>
				</div>
				<br>

				<div class="row">
					<div class="col-sm-6">
						Scouter Name: {{form.name}}</div>
				</div>
				<br>




			</div>
			<br>
			<br>

			{# During Match Info #}
			{#Sandstorm Info #}

			<div class="container">

				<h3>Autonomous Info</h3>


				{# Level 3 #}
				<div class="row">
					<div class="col-lg-5">
						<h6>Lower:<img src="{% static '\img\minus_sign.png' %}" class="plusminus"
								onclick=minus("a_lower")>
							{{form.a_lower}}
							<img src="{% static '\img\plus_sign.png' %}" class="plusminus" onclick=plus("a_lower")>
						</h6>
					</div>
				</div>


				{# Level 2 #}
				<div class="row">
					<div class="col-lg-5">
						<h6>Upper:<img src="{% static '\img\minus_sign.png' %}" class="plusminus"
								onclick=minus("a_upper")>
							{{form.a_upper}}
							<img src="{% static '\img\plus_sign.png' %}" class="plusminus" onclick=plus("a_upper")>
						</h6>
					</div>
					<div class="col-lg-5">
						<h6>Leave TARMAC: {{form.a_crossline}}</h6>
					</div>
				</div>

			</div>
			<br>
			<br>


			{# Teleop Info #}

			<div class="container border-top">

				<h3>Teleop Info</h3>
				<br>
				<div class="row">
					<div class="col-lg-5">
						<h6>Goals</h6>
					</div>
				</div>


				{# Level 3 #}
				<div class="row">
					<div class="col-lg-5">
						<h6>Lower:<img src="{% static '\img\minus_sign.png' %}" class="plusminus"
								onclick=minus("t_lower")>
							{{form.t_lower}}
							<img src="{% static '\img\plus_sign.png' %}" class="plusminus" onclick=plus("t_lower")>
						</h6>
					</div>
				</div>


				{# Level 2 #}
				<div class="row">
					<div class="col-lg-5">
						<h6>Upper:<img src="{% static '\img\minus_sign.png' %}" class="plusminus"
								onclick=minus("t_upper")>
							{{form.t_upper}}
							<img src="{% static '\img\plus_sign.png' %}" class="plusminus" onclick=plus("t_upper")>
						</h6>
					</div>
				</div>



			<br>
			<br>

			{# Endgame #}
			<div class="container">
				<div class="row">
					<h3>Post Match Info</h3>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<br>
						<div class="row">
							<div class="col-sm-12">
								Comments: {{form.comments}}</div>
						</div>


						<button class="btn btn-primary" type="submit">Save</button>
		</form>

	</body>
</section>
{% endblock %}