{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<section class="bar background-image-fixed-1 no-mb color-white">

	<body>

		<h1>Team Summary Page</h1>
		{% if not search_run %}
		<center>

			<form action="/teamsummary/" method="GET" class="form-bootstrap modal-like-shadow">
				<input id="team_number" type="text" name="team_number" />
				<button class="btn btn-primary" type="submit">Search</button>

			</form>
		</center>

		{% else %}
		{% for result in results %}
		{% if forloop.first %}
		<h3>Team {{result.team_num}} Summary</h3>
		<br>
		{# Autonomous stats #}
		<div class="container">
			<h5> Autonomous </h5>
			<table class="table table-hover">
				<thead>
					<tr>
						<th> </th>
						<th>Average</th>
						<th>Max</th>
						<th>Min</th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td> Upper </td>
						<td> {{a_upper_avg}}</td>
						<td> {{a_upper_max}}</td>
						<td> {{a_upper_min}}</td>
					</tr>
					<tr>
						<td> Lower </td>
						<td> {{a_lower_avg}}</td>
						<td> {{a_lower_max}}</td>
						<td> {{a_lower_min}}</td>
					</tr>
					<tr>
						<td> Leave TARMAC</td>
						<td> {{a_crossline_avg}}</td>
					</tr>
					<tr>
						<td> Human Player Score</td>
						<td> {{a_human_avg}}</td>
					</tr>
				</tbody>
			</table>


		</div>

		{# Teleop stats #}

		<div class="container">
			<h5>Teleop</h5>
			<table class="table table-hover">
				<thead>
					<tr>

						</tbody>
						<thead>
							<tr>
								<th> </th>
								<th>Average</th>
								<th>Max</th>
								<th>Min</th>
							</tr>
						</thead>

				<tbody>
					<tr>
						<td> Upper </td>
						<td> {{t_upper_avg}}</td>
						<td> {{t_upper_max}}</td>
						<td> {{t_upper_min}}</td>
					</tr>
					<tr>
						<td> Lower </td>
						<td> {{t_lower_avg}}</td>
						<td> {{t_lower_max}}</td>
						<td> {{t_lower_min}}</td>
					</tr>

					</tr>

				</tbody>
				<thead>
					<tr>

						</tbody>
			</table>

			<!--<h6>End on Level 1: {{level_1}}%</h6>
		<h6>End on Level 2: {{level_2}}%</h6>
		<h6>End on Level 3: {{level_3}}%</h6>  -->


		</div>

		<div class="container">
			{% for result_pit in results_pit %}
			<h5><u>Pit Data</u></h5>

			<div class="row">
				<div class="col-sm-9">
					Drivetrain type: {{result_pit.drivetrain}}</div>
			</div>
			<div class="row">
				<div class="col-sm-9">
					Strengths: {{result_pit.strength}}</div>
			</div>

			{% endfor %}
		</div>
		<br>
		<br>
		<h5>Individual Matches:</h5>

		<table class="table table-hover">
			<thead>

				<tr>
					<th>Match Number</th>
					<th>Alliance</th>
					<th>Starting Location</th>
					<th>Auto Balls Upper</th>
					<th>Auto Balls Lower</th>
					<th>Auto Crossline</th>
					<th>Auto Human Player Score</th>
					<th>Teleop Balls Upper</th>
					<th>Teleop Balls Lower</th>
					<th>Ending Location</th>
					<th>Comments</th>
					<th>Scouter Name</th>
				</tr>
			</thead>

			<tbody>
				{% endif %}
				<tr>
					<td>{{result.match_num}}</td>
					<td>{{result.alliance}}</td>
					<td>{{result.starting}}</td>
					<td>{{result.a_upper}}</td>
					<td>{{result.a_lower}}</td>
					<td>{{result.a_crossline}}</td>
					<td>{{result.a_human}}</td>
					<td>{{result.t_upper}}</td>
					<td>{{result.t_lower}}</td>
					<td>{{result.t_ending}}</td>
					<td>{{result.comments}}</td>
					<td>{{result.name}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>


		{# We need to add data #}
		{% endif %}
	</body>
</section>
{% endblock %}