{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<section class="bar background-image-fixed-1 no-mb color-white">
<body>
<form action="/pitscout/" method="POST" class="form-bootstrap modal-like-shadow" enctype="multipart/form-data">
	{% csrf_token %}

<h1>Pit Scouting Page</h1>


<div class="container">
	<h3> Pre Match </h3>
	<div class="row">
	<div class="col-sm-6">
	Team Number: {{form.team_num}} </div>
	</div>
	<br>
	<div class="row">
	<div class="col-sm-6">
		Drivetrain type: {{form.drivetrain}}
</div>
</div>
<br>
<div class="row">
	<div class="col-sm-6">
		Scouter Name: {{form.name}}
</div>
</div>
</div>
<br>

	{# Autonomous Info #}

<div class="container border-top">
	<h3> Autonomous </h3>

	<div class="row">
	<div class="col-sm-6">
		<h6>Cross Line: {{form.a_crossline}}</h6>
	<br>

	<div class="row">
	<div class="col-sm-6">
		<h6>Scoring Goal: {{form.a_goal}}</h6>
	<br>

	<div class="row">
	<div class="col-sm-6">
		<h6>Number Balls: {{form.a_ballscore}}</h6>
</div>
<br>

	{# Teleop Info #}

<div class="container border-top">
	<h3>Teleop Info</h3>

	{# Level 2 #}

	<div class="row">
	<div class="col-lg-5">
		<h5>Goals</h5></div>

	<div class="row">
	<div class="col-lg-5">
		<h5>Ball Intake</h5></div>
	</div>

{# Goals/Ball Intake #}

	<head>
    <style>
    {
        box-sizing: border-box;
    }
    /* Set additional styling options for the columns*/
    .column {
    float: left;
    width: 50%;
    }

    .row:after {
    content: "";
    display: table;
    clear: both;
    }
    </style>

    <body>
    <div class="row">
        <div class="column">
            <p><div class="col-lg-5">
			<h6>Lower: {{form.t_lowergoal}}</h6>
	</div>

	<div class="col-lg-5">
			<h6>Upper: {{form.t_uppergoal}}</h6>
	</div>


	<div class="col-lg-5">
			<h6>Inner: {{form.t_innergoal}}</h6>
	</div><br></p>


        </div>
        <div class="column">
            <p><div class="col-lg-5">
			<h6>HumanPlayer: {{form.t_humanplayer}}</h6>
	</div>

	<div class="col-lg-5">
			<h6>Ground: {{form.t_ground}}</h6>
	</div>
	<br></p>
        </div>
    </div>

{# Level 1 #}

	<div class="row">
	<div class="col-lg-5">
		<h5>Color Wheel</h5></div>

	<div class="row">
	<div class="col-lg-5">
		<h5>Climb</h5></div>
	</div>

	{# Level 2 #}

	<head>
    <style>
    {
        box-sizing: border-box;
    }
    /* Set additional styling options for the columns*/
    .column {
    float: left;
    width: 50%;
    }

    .row:after {
    content: "";
    display: table;
    clear: both;
    }
    </style>

    <body>
    <div class="row">
        <div class="column">
            <p><div class="col-lg-5">
			<h6>Adjustment: {{form.t_adjustment}}</h6>
	</div>

	<div class="col-lg-5">
			<h6>Sensors: {{form.t_sensors}}</h6>
	</div>


        </div>
        <div class="column">
            <p><div class="col-lg-5">
			<h6>BuddyClimb: {{form.t_buddyclimb}}</h6>
	</div>

	<div class="col-lg-5">
			<h6>OpenToUsingOurs?: {{form.t_useofours}}</h6>
	</div>
	<br></p>
    </div>
    </div>
    <br>

{# Level 1 #}


	<div class="col-lg-5">
			<h6>Time: {{form.t_time}}</h6>
	</div>

<div class="container border-top">
	<h3> Other </h3>
	<div class="row">
	<div class="col-sm-6">
	MainStrength: {{form.strength}}</div></div>

	<div class="row">
	<div class="col-sm-6">
	Comments: {{form.comments}}</div>
</div>

<button class="btn btn-primary" type="submit">Save</button>
</form>
</body>
</section>
{% endblock %}

